html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font: 16px Tahoma;
	text-align: left;
}
/* HEADER */
div#header h1 {
	margin: 0px 5px;
}
/* LOADING */
div#loading {
	padding: 3px;
	position: absolute;
	top: 0px;
	right: 0px;
}
/* TABLE */
table#main thead th {
	padding: 3px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
}
table#main thead th span {
	text-transform: uppercase;
	float: left;
}
table#main thead th img {
	position: relative;
	float: right;
	right: 2px;
	top: 2px;
}
table#main th,
table#main tbody td {
	width: 25%;
	background-color: #EEEEEE;
}
table#main tbody tr.history td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #CCCCCC;
}
table#main tbody tr img.deleteHistory {
	cursor: pointer;
	float: right;
}
table#main tbody tr td.box {
	vertical-align: top;
	border-left: 1px solid #CCCCCC;
}
table#main tbody tr td.box img.addTask {
	float: right;
	cursor: pointer;
}
table#main tbody tr td.hoverBox {
	border: 1px solid #CCCCCC;
	background-color: #DDDDDD;
}
table#main tfoot td {
	padding: 3px;
}
table#main tfoot input,
table#main tfoot textarea {
	margin-left: 5%;
	width: 90%;
}
table#main tfoot td img.addSprint {
	position: relative;
	margin-right: 3px;
	cursor: pointer;
	top: 2px;
}
/* DRAGGABLE */
span.dragBox {
	width: 80px;
	height: 70px;
	margin: 5px 0 0 5px;
	padding: 3px;
	cursor: pointer;
	font-size: 10px;
	display: inline-block;
}
span.dragBox img.deleteTask {
	position: absolute;
	cursor: pointer;
	right: 2px;
	top: 2px;
}
span.dragBox span.text,
span.dragBox span.name {
	width: 100%;
	display: inline-block;
}
span.dragBox span.text {
	height: 55px;
	overflow: hidden;
}
span.dragBox span.name {
	font-size: 7px;
}
/* MODAL LAYOUT */
div#backGround {
	z-index: 333;
	background-color: #000000;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: .5;
	left: 0px;
	top: 0px;
}
div#content {
	background-color: #CCCCCC;
	border: 1px solid #000000;
	height: 50%;
	left: 25%;
	padding-top: 36px;
	position: absolute;
	top: 25%;
	width: 50%;
	z-index: 666;
}
div#content div.main {
	background-color: #FFFFFF;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height: 100%;
	overflow-y: auto;
	padding: 0 2%;
	width: 96%;
}
div#content div.main div.response {
	margin-bottom: 10px;
	padding: 5px;
}
div#content span.header {
	width: 90%;
	overflow: hidden;
	line-height: 18px;
	font-size: 16px;
	position: absolute;
	font-weight: bold;
	top: 10px;
	left: 10px;
}
div#content a.close {
	line-height: 16px;
	font-size: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding-left: 18px;
	background: url('../images/refresh.gif') no-repeat;
}
div#content label {
	font-weight: bold;
}
div#content input,
div#content select,
div#content textarea {
	font-size: 17px;
	width: 100%;
}
/* CLASSES */
.loading {
	padding-left: 18px;
	background: url('../images/loading.gif') no-repeat;
}
.left {
	float: left;
}
.right {
	float: right;
}
.error {
	color: #FF0000;
	background-color: #FF9999;
	border: 1px solid #660000;
}
.success {
	color: #00FF00;
	background-color: #99FF99;
	border: 1px solid #006600;
}
/* GENERAL */
img {
	border: 0px none;
}
a {
	text-decoration: none;
}
