html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: 16px Tahoma;
    text-align: left;
}

/* HEADER */
div#header h1 {
    margin: 0px 5px;
}

/* LOADING */
div#loading {
    padding: 3px;
    position: absolute;
    top: 0px;
    right: 50%;
}

/* PROGRESSBAR */
div#progressbar {
	width: 100%;
	height: 15px;
}

/* OPTIONS MENU */
div#options {
	text-align: right;
	padding: 2px;
}

div#options span.button {
	background: url('../images/settings.png') no-repeat 2px 4px;
	padding: 2px 2px 2px 20px;
	border: 1px solid #FFFFFF;
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	right: 6px;
	z-index: 2;
	top: 6px;
}

div#options div.container {
	background-color: #DDDDDD;
	border: 1px solid #000000;
	position: absolute;
	padding: 2px;
	right: 6px;
	z-index: 1;
}

div#options div.container ul {
	text-align: left;
	list-style: none;
	padding: 2px;
	margin: 0px;
}

div#options div.container ul li ul li {
	margin-left: 10px;
}

div#options div.container a.link {
	background-repeat: no-repeat;
	background-position: 2px 1px;
	padding: 2px 2px 2px 22px;
	font-size: 14px;
}

div#options div.container ul li a.addTeam {
	background-image: url('../images/team/add.png');
}

div#options div.container ul li a.addUser {
	background-image: url('../images/user/add.png');
}

div#options div.container ul li a.edtUser {
	background-image: url('../images/user/edit.png');
}

div#options div.container ul li a.addSprint {
	background-image: url('../images/sprint/add.png');
}

div#options div.container ul li a.defaultSprint {
	background-image: url('../images/sprint/link.png');
}

div#options div.container ul li a.addHistory {
	background-image: url('../images/history/add.png');
}

/* TABLE */
table#main thead th {
	padding: 3px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
}

table#main thead th span {
    text-transform: uppercase;
}

table#main thead th.begin {
	text-align: right;
}

table#main thead th.end {
	text-align: left;
}

table#main thead th.end,
table#main thead th.begin {
	font-size: 13px;
}

table#main thead th,
table#main tbody td {
    width: 25%;
    background-color: #EEEEEE;
}

table#main thead #colapseAll {
	cursor: pointer;
	float: right;
}

table#main tbody tr.history td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #CCCCCC;
}

table#main tbody tr td.description img.deleteHistory,
table#main tbody tr td.description img.colapseHistory {
    cursor: pointer;
    float: right;
}

table#main tbody tr td.box {
    vertical-align: top;
    border-left: 1px solid #CCCCCC;
}

table#main tbody tr td.box img.addTask {
    float: right;
    cursor: pointer;
}

table#main tbody tr td.hoverBox {
    border: 1px solid #CCCCCC;
    background-color: #DDDDDD;
}

table#main tfoot td {
    padding: 3px;
    vertical-align: top;
}

table#main tfoot input,
table#main tfoot textarea {
    margin-left: 5%;
    width: 90%;
}

table#main tfoot td img.sprint {
    cursor: pointer;
    padding: 3px;
}

table#main tfoot td img.actSprint {
    position: relative;
    margin-left: 3px;
    cursor: pointer;
    right: 3px;
    top: 3px;
}

table#main tfoot td div.sprintOpt {
    position: absolute;
    right: 0px;
}

/* DRAGGABLE */
span.dragBox {
    width: 80px;
    height: 70px;
    margin: 3px 0 0 3px;
    padding: 1px;
    font-size: 10px;
    display: inline-block;
}

span.ui-draggable {
    cursor: pointer;
}

span.dragBox img.editTask,
span.dragBox img.deleteTask {
    position: absolute;
    cursor: pointer;
}

span.dragBox img.editTask {
    right: 2px;
    top: 2px;
}

span.dragBox img.deleteTask {
    right: 2px;
    bottom: 2px;
}

span.dragBox span.text,
span.dragBox span.name {
    width: 100%;
    display: inline-block;
}

span.dragBox span.text {
    height: 55px;
    overflow: hidden;
}

span.dragBox span.name {
    font-size: 7px;
}

/* MODAL LAYOUT */
div#backGround {
    z-index: 333;
    background-color: #000000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .5;
    left: 0px;
    top: 0px;
}

div#content {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    height: 50%;
    left: 25%;
    padding-top: 36px;
    position: absolute;
    top: 25%;
    width: 50%;
    z-index: 666;
}

div#content div.main {
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height: 100%;
    overflow-y: auto;
    padding: 0 2%;
    width: 96%;
}

div#content div.main div.response {
    margin-bottom: 10px;
    padding: 5px;
}

div#content span.header {
    width: 90%;
    overflow: hidden;
    line-height: 18px;
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 10px;
}

div#content a.close {
    line-height: 16px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
	color: #FF5555;
    padding-left: 18px;
	font-weight: bold;
    background: url('../images/close.png') no-repeat;
}

div#content form {
	padding-bottom: 1em;
}

div#content label {
    font-weight: bold;
}

div#content input,
div#content select,
div#content textarea {
    font-size: 17px;
    width: 100%;
}

/* CLASSES */
.loading {
    padding-left: 18px;
    background: url('../images/loading.gif') no-repeat;
}
.pointer {
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: right;
}
.error {
    color: #660000;
    background-color: #FF9999;
    border: 1px solid #330000;
}
.success {
    color: #006600;
    background-color: #99FF99;
    border: 1px solid #003300;
}
.info {
    color: #000099;
    background-color: #9999FF;
    border: 1px solid #000033;
}

/* GENERAL */
img {
    border: 0px none;
}
a {
	text-decoration: none;
}
select {
	text-transform: capitalize;
}

/* TASKS COLOR THEMES */
